
.slider {
	padding-top: 20px;
	position: relative;
	width: 720px;
	margin: 0 auto;

}

.container {
	width: 720px;
	height: 400x;
	overflow: hidden;
}

.slide {
	position: relative;
	display: flex;
	height: 400px;
	transition: transform 0.5s;
	text-align: center;

}

.prev_button {
	position: absolute;
	top: 45%;
	left: 0;
}

.next_button {
	position: absolute;
	top: 45%;
	right: 0;
}

.slide_title {
	position: relative;
	bottom: 20%;
	font-size: 1.5rem;
	color:white;
	font-weight: 700;

}
