.header {
    margin-top : 1rem;
    margin-left: 2rem;
    position: relative;

    .logo.top {
        //position: absolute;
        //display : flex;
        //justify-content: space-between;
        //align-items: center;
    }

}
