.logo {
    display: flex;
    position: relative;
    margin-top: 2rem;
    align-items: center;
}

.top {
    display: flex;
    .login {
        position: absolute;
        margin-top: 1rem;
        text-align: center;
    }
    .sns {
        z-index: 300;
        position: absolute;
        display : flex;

    }
}
